.img__class {
  height: 180px;
  width: 180px;
}

.list__class {
  list-style: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-gap: rem(8);
  justify-content: center;
  justify-items: center;
  max-width: rem(1100);
  margin: 10px;
}

.card__class {
  background-color: steelblue;
  color: white;
  padding: rem(5);
  font-size: rem(11);
  border: solid 2px white;
  padding: 0.5rem;
  margin: 10px;
}
.text__card__class {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
